.SockLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 3rem;
    border-radius: 1.5rem 1.5rem 0 0;
    border: 1px solid black;
    border-bottom-color: white;
    background-color: white;
}

.LoginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.passWordSubscript{
    display:flex;
    /* block: row; */
    justify-content:space-between;
    align-items: center;
    font-size: 0.8rem;
    font-family: "Avenir";
    width: 20rem;
}

.wrongPasswordLabel {
    margin:0;
    color: red;
    justify-self: end;
}

.ForgotPasswordBtn {
    background-color: white;
    border: none;
    text-decoration: underline;
    color: rgb(161, 161, 161);
    /* align-self: start; */
    /* margin-left: 1rem; */
}

.input_sign_in {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border: 0.07em solid black;
    border-radius: 1.5rem;
    width: 20rem;
    height: 3.2rem;
    margin: 0.5rem 0;
}

.input_sign_in:hover {
    border: 0.07em solid #0B5CFF;
}

.input_sign_in_invalid {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 0.07em solid red;
    border-radius: 1.5rem;
    width: 20rem;
    height: 3.2rem;
    margin: 0.5rem 0;
}

.clearField {
    cursor: pointer;
    /* padding-right: 1rem; */
}

.input_label {
    font-weight: bold;
    /* border: 0px solid black; */
    padding: 0.5em 0.2em 0.5em 1em;
    text-align: left;

}

.email_input_value {
    border: 0px solid black;
    outline: none;
    width: 71%;
}

.password_input_value {
    border: 0px solid black;
    outline: none;
    width: 61%;
}   


.SignInSubmit {
    padding: 0.2em 3em;
    border: 0.07em solid black;
    border-radius: 1rem;
    margin-top: 1rem;  
    background-color: white;
    font-weight: bold;

}

.SignInSubmit:hover {
    background-color: #0B5CFF;
    color: white;
}